/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F7; 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #F5F5F7;
}

/* Barre de navigation */
header {
  width: 100%;
  background-color: #333333;
  padding: 10px 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 200px;
  height: 40px;
}
.toolbar {
  list-style: none;
  display: flex;
  gap: 20px;
}

.toolbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  margin-top: 40px;
  color: #1E3A8A;
  font-size: 32px;
}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
    border-top: 1px solid #ccc;
}

footer a {
    color: black; /* Met la couleur des liens en noir */
    text-decoration: none; /* Retire le soulignement des liens */
}

footer a:hover {
    text-decoration: underline; /* Ajoute un soulignement au survol (facultatif) */
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 18%;
}

.column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 6px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 5px 0;
}

.legal {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.legal li {
    margin: 0;
}

.footer-bottom p:last-
